* {
  outline: none !important;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  scrollbar-width: none; /* Also needed to disable scrollbar Firefox */
  -ms-overflow-style: none; /* Disable scrollbar IE 10+ */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  display: block;
  object-fit: contain;
}

ul,
ol {
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: none;
  outline: none;
  color: inherit;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
ul,
ol,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  color: var(--primary-black);
}

svg {
  display: block;
}

:not(.show-scrollbar)::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
  background: transparent;
}

.flex-1 {
  flex: 1;
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

.break-word {
  word-break: break-word;
}

.strikethrough {
  text-decoration: line-through;
}

.no-underline {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}

.d-column {
  flex-direction: column;
}

.d-row {
  flex-direction: row;
}

.j-between {
  justify-content: space-between;
}

.j-center {
  justify-content: center;
}

.j-start {
  justify-content: flex-start;
}

.f-wrap {
  flex-wrap: wrap;
}

.j-end {
  justify-content: flex-end;
}

.a-center {
  align-items: center;
}

.a-stretch {
  align-items: stretch;
}

.a-start {
  align-items: flex-start;
}

.a-end {
  align-items: flex-end;
}

.gap-8 {
  gap: 8px;
}

.gap-12 {
  gap: 12px;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.gap-32 {
  gap: 32px;
}

.mx-auto {
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .xl-row {
    flex-direction: row;
  }
}
