:root {
  --primary-black: #141414;
  --primary: #059669;
  --secondary-black: #8e8e8e;
  --tertiary-black: #f5f5f5;
  --white: #fff;
}

/* to do dark mode */
@media (prefers-color-scheme: dark) {
}

body {
  position: relative;
  overflow-x: hidden !important;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.43;
  color: var(--primary-black) !important;
  background-color: var(--white) !important;
}

.b-primary {
  color: var(--primary);
}
.b-secondary {
  color: var(--secondary-black);
}

section {
  position: relative;
  width: 100%;
  overflow-wrap: break-word;
}

.heading,
.sub-heading {
  position: relative;
  font-family: 'Reddit Sans Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
}

.content-section {
  min-height: min-content;
  padding: 86px 24px 48px 24px;
  width: 100%;
}

.sub-heading {
  font-size: 36px;
  text-align: center;
  letter-spacing: -1px;
  margin-bottom: 16px;
}

span.highlight {
  font-family: 'Caveat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  top: -24px;
  left: 40%;
  text-transform: none;
  color: var(--secondary-black);
  transform: translateX(-0%) rotate(2deg);
}

@keyframes popIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.intro-wrapper {
  background: radial-gradient(
    circle at top,
    #00ffaedf 0%,
    #22ffb95c 40%,
    transparent 100%
  );
}
.intro-section {
  max-width: 1200px;
  padding: 84px 24px 48px 24px;
  min-height: 98vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  flex: 1;
  position: relative;
  margin: 0 auto;
}
.intro-section .title {
  font-size: 72px;
  line-height: 72px;
  letter-spacing: -3px;
  margin-left: -3px;
}
.intro-section .subtitle {
  font-size: 18px;
}
.intro-section img {
  height: auto;
  padding: 2px;
  border-radius: 8px;
  position: absolute;
  background: var(--white);
  border: 2px solid var(--primary);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
}
.intro-section .img1 {
  top: 14%;
  left: 5%;
  width: calc(100% / 3);
  animation: popIn 0.8s ease-in forwards;
  transform: scale(0);
}
.intro-section .img2 {
  top: 17%;
  left: 44%;
  width: calc(100% / 2);
  animation: popIn 0.8s ease-in forwards;
  animation-delay: 0.3s;
  transform: scale(0);
}
.intro-section .img3 {
  top: 36%;
  left: 60%;
  width: calc(100% / 3);
  animation: popIn 0.8s ease-in forwards;
  animation-delay: 0.6s;
  transform: scale(0);
}
.intro-section .img4 {
  top: 38%;
  left: 5%;
  width: calc(100% / 2);
  animation: popIn 0.8s ease-in forwards;
  animation-delay: 0.9s;
  transform: scale(0);
}

.work-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--tertiary-black);
  position: relative;
  overflow: hidden;
  border: 2px solid transparent;
  cursor: pointer;
}
.work-item .logo {
  height: 24px;
  width: 24px;
  object-fit: contain;
  border-radius: 4px;
}
.image-position {
  height: 23vh;
}
.work-item .images-wrapper {
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-46%);
}
.work-item .images-wrapper img {
  border-radius: 16px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.work-item .side-img {
  display: none;
}
.work-item .main-img {
  height: 23vh;
  aspect-ratio: 16/9;
  transform: rotate(1.5deg);
}
.work-item:hover .images-wrapper {
  bottom: -6px;
  transition: all 0.1s ease-in;
}
.work-item:hover .side-img {
  transform: rotate(-5deg);
  transition: all 0.2s ease-in-out;
}
.work-item:hover .main-img {
  transform: rotate(3deg);
  transition: all 0.2s ease-in-out;
}
.work-item .name {
  font-size: 28px;
  font-weight: 700;
  color: var(--primary-black);
}
.work-item .time {
  font-family: 'Caveat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-top: -4px;
  color: var(--secondary-black);
}
.work-item svg {
  width: 24px;
  height: 24px;
}
.work-item .svg-wrapper {
  width: 24px;
  height: 24px;
  transition: all 0.1s ease-in;
}
.feedback-item:hover,
.story-item:hover {
  transform: scale(1.02);
  border: 2px solid var(--primary);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}
.work-item:hover {
  border: 2px solid var(--primary);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}
.work-item:hover .svg-wrapper {
  width: 28px;
}
.work-item .work-overlay {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  overflow: hidden;
  background: radial-gradient(
    circle at right top,
    #00ffaedf 0%,
    #22ffb95c 40%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to left,
    rgba(225, 225, 225, 0.8) 50%,
    rgba(255, 255, 255, 0)
  );
  -webkit-mask-image: linear-gradient(
    to left,
    rgba(225, 225, 225, 0.8) 50%,
    rgba(255, 255, 255, 0)
  );
  z-index: 1;
  transition: all 0.2s ease-in;
}
.work-item:hover .work-overlay {
  display: block;
}
.work-item .name:hover {
  text-decoration: underline;
}
.work-item .desc {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: var(--secondary-black);
}

.feedback-item {
  width: 100%;
  min-width: 100%;
  background-color: var(--tertiary-black);
  border-radius: 8px;
  padding: 16px;
  align-self: stretch;
  flex: 1;
  border: 2px solid transparent;
}

.feedback-item img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 6px;
  border: 1px solid var(--secondary-black);
}

.feedback-item .name {
  font-size: 20px;
  font-weight: 700;
}

.feedback-item .position {
  color: var(--secondary-black);
  font-weight: 500;
}

.feedback-item .desc {
  font-size: 16px;
}

.story-item {
  width: 100%;
  padding: 12px;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  color: var(--secondary-black);
  background-color: var(--tertiary-black);
  border: 2px solid transparent;
}
.story-item img {
  object-fit: cover;
  width: 100%;
}
.story-item.img {
  padding: 0px;
  border: 2px solid var(--tertiary-black);
}

.connect-btn {
  display: block;
  color: var(--white);
  text-align: center;
  width: 100%;
  margin: 48px auto 56px auto;
  font-size: 36px;
  font-weight: 800;
  border-radius: 48px;
  padding: 16px 24px;
  background: radial-gradient(
    circle at top,
    #01b17adf 0%,
    #008c60 40%,
    #015037 100%
  );
  border: 8px solid var(--primary);
  box-shadow: 4px 8px 16px rgba(8, 8, 8, 0.5);
  letter-spacing: 1px;
  animation: popIn 0.5s ease-in forwards;
}
.connect-btn:hover {
  color: var(--white);
  box-shadow: none;
  transition: all 0.2s ease-in-out;
  letter-spacing: 0px;
}

.socials-wrapper {
  font-size: 20px;
  font-weight: 400;
  padding: 28px 20px;
  border-radius: 12px;
  background-color: var(--tertiary-black);
  gap: 20px;
}
.socials-wrapper .email svg {
  width: 24px;
  height: 24px;
}
.social-item {
  height: 36px;
  width: 36px;
  border-radius: 4px;
  overflow: hidden;
}
.social-item:nth-child(odd) {
  transform: rotate(-5deg);
}
.social-item:nth-child(even) {
  transform: rotate(5deg);
}
.social-item:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
.social-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.credits {
  text-align: center;
  margin-top: 48px;
  font-size: 16px;
  color: var(--secondary-black);
}

.credits a {
  color: var(--primary-black);
}

@media screen and (min-width: 1200px) {
  .content-section {
    min-height: 100vh;
    padding: 120px 32px 32px 32px;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
  }

  .sub-heading {
    font-size: 80px;
    margin-bottom: 24px;
  }

  span.highlight {
    font-size: 28px;
    top: -28px;
    left: 62%;
  }

  .intro-section {
    min-height: 100vh;
  }

  .intro-section .subtitle {
    font-size: 36px;
    line-height: 44px;
  }
  .intro-section {
    padding: 90px 40px;
  }
  .intro-section .title {
    font-size: 140px;
    line-height: 140px;
    letter-spacing: -4px;
    margin-left: -8px;
  }
  .intro-section img {
    border-width: 4px;
    border-radius: 16px;
  }
  .intro-section .img1 {
    top: 12%;
    left: 0%;
    width: calc(100% / 5.5);
    animation: popIn 0.8s ease-in forwards;
    transform: scale(0);
  }
  .intro-section .img2 {
    top: 18%;
    left: 22%;
    width: calc(100% / 3.5);
    animation: popIn 0.8s ease-in forwards;
    animation-delay: 0.3s;
    transform: scale(0);
  }
  .intro-section .img3 {
    top: 24%;
    left: 53%;
    width: calc(100% / 5.5);
    animation: popIn 0.8s ease-in forwards;
    animation-delay: 0.6s;
    transform: scale(0);
  }
  .intro-section .img4 {
    top: 18%;
    left: 74%;
    width: calc(100% / 3.5);
    animation: popIn 0.8s ease-in forwards;
    animation-delay: 0.9s;
    transform: scale(0);
  }

  .work-item {
    gap: 20px;
    padding: 24px;
    border-radius: 16px;
  }
  .work-item .logo {
    height: 32px;
    width: 32px;
  }
  .image-position {
    height: 400px;
  }
  .work-item .images-wrapper {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
  }
  .work-item:hover .images-wrapper {
    bottom: -25px;
  }
  .work-item .side-img {
    display: block;
    height: 400px;
    aspect-ratio: 4/5;
    transform: rotate(-2deg);
    border-radius: 10px !important;
  }
  .work-item .main-img {
    height: 400px;
    aspect-ratio: 16/9;
    transform: rotate(1.5deg);
    margin-left: 12px;
  }
  .work-item .name {
    font-size: 38px;
  }
  .work-item .time {
    font-size: 24px;
    margin-bottom: 3px;
    align-self: flex-end;
  }
  .work-item .desc {
    font-size: 22px;
    max-width: 60%;
  }

  .feedback-item {
    width: calc(100% / 3 - 32px);
    min-width: calc(100% / 3 - 32px);
    padding: 24px 16px;
  }

  .story-item {
    flex: 1;
    font-size: 22px;
    display: flex;
    align-items: flex-end;
    align-self: stretch;
    margin: 6px;
    width: calc(100% / 2 - 12px);
    min-width: calc(100% / 2 - 12px);
    padding: 24px 16px;
  }

  .connect-btn {
    max-width: 50%;
    margin: 80px auto 120px auto;
    font-size: 80px;
    border-radius: 80px;
    padding: 16px 72px;
  }

  .socials-wrapper {
    font-size: 32px;
    padding: 48px;
    border-radius: 16px;
  }
  .socials-wrapper .email svg {
    width: 30px;
    height: 30px;
  }
  .social-item {
    height: 48px;
    width: 48px;
    border-radius: 8px;
  }
}

.overlay {
  position: fixed; /* or absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 58px;
  z-index: 1;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  mask-image: linear-gradient(
    to bottom,
    rgba(225, 225, 225, 0.8) 60%,
    rgba(255, 255, 255, 0)
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(225, 225, 225, 0.8) 60%,
    rgba(255, 255, 255, 0)
  );
}

.header {
  position: fixed;
  z-index: 2;
  top: 30px;
  left: 50%;
  width: 100%;
  padding-top: 8px;
  transform: translate(-50%, -50%);
}

.header .nav {
  padding: 4px;
  border-radius: 22px;
  width: max-content;
  margin: 0 auto;
  background-color: var(--primary-black);
}

.header .nav li {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 50%;
}

.header .nav li a {
  color: var(--secondary-black);
}

.header .nav li.active {
  transition: all 0.1s ease-in-out;
  background-color: rgb(100, 255, 100, 0.2);
  border-radius: 18px;
}

.header .nav li.active a {
  color: #01fcac;
}

.header .nav li a:hover {
  color: var(--white) !important;
}
